<header>
  <div class="header-content">
    <div class="left-section">
      <h1>Melih Cosgun</h1>
      <p>Full-Stack Developer</p>
    </div>
    <div class="right-section">
      <a class="resume-button" href="assets/Lebenslauf_Melih_Cosgun_Software.pdf" target="_blank">
        Resume <span class="arrow">&nearr;</span>
      </a>
      <a class="linkedin-button" href="https://www.linkedin.com/in/melih-cosgun/" target="_blank">
        LinkedIn <span class="arrow">&nearr;</span>
      </a>
    </div>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>
