<header>
  <div class="header-content">
    <div class="left-section">
      <h1>Melih Cosgun</h1>
      <p>Full-Stack Developer</p>
    </div>
    <div class="right-section">
      <a class="resume-button" href="assets/Lebenslauf_Melih_Cosgun_Software.pdf" target="_blank">
        Resume <span class="arrow">&nearr;</span>
      </a>
      <a class="linkedin-button" href="https://www.linkedin.com/in/melih-cosgun/" target="_blank">
        LinkedIn <span class="arrow">&nearr;</span>
      </a>
    </div>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="footer-content">
    <div class="footer-section">
      <h3>Contact</h3>
      <p>cosgun.x&#64;gmail.com</p>
      <p>Telefon: +1234567890</p>
    </div>
    <div class="footer-section">
      <h3>Links</h3>
      <ul>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="#">Resume</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2023 Melih Cosgun. All rights are reserved.</p>
  </div>
</footer>
